html {
	width: 200px;
}

body {
	height: 230px;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	background-color: #444;

}

/*removes blue border from around the button on Chrome */
button:focus {
	outline:0;
}

button {
	background-color:#FFFFFA;
	border: none;
	text-align: center;
}

h2 {
	color: #FFFFFA;
	font-weight: lighter;
}
p {
	margin-left: 20px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: left;
	text-transform: capitalize;
	color: #F0F0F0;
}

.green {
	color: green;
	font-weight: 600;
}

.red {
	color: red;
	font-weight: 600;
}
