html {
	width: 200px;
}

body {
	height: 250px;
	font-family: montserrat, sans-serif;
	text-align: center;
	background-color: #444;

}

/*removes blue border from around the button on Chrome */
button:focus {
	outline:0;
}

button {
	background-color:#FFFFFA;
	border: none;
	text-align: center;
	border-radius: 3px;
}

#playAgainButtonArea {
	margin-bottom: 10px;
}

h2 {
	font-size: 20px;
	color: #FFFFFA;
	font-weight: 300;
}
p {
	margin-left: 20px;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	text-align: left;
	text-transform: capitalize;
	color: #F0F0F0;
}

.green {
	color: #6CC417;
	font-family: montserrat, sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.red {
	color: #F75D59;
	font-family: montserrat, sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.yellow {
	color: #FFDB58;
	font-family: montserrat, sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}
